/*
 * This is a manifest file that'll be compiled into application.css.
 *
 * With Propshaft, assets are served efficiently without preprocessing steps. You can still include
 * application-wide styles in this file, but keep in mind that CSS precedence will follow the standard
 * cascading order, meaning styles declared later in the document or manifest will override earlier ones,
 * depending on specificity.
 *
 * Consider organizing styles into separate files for maintainability.
 */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

body {
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  padding: 20px;
  margin-left: 10%;
  margin-right: 10%;
  height: 100vh;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

h1 {
  margin: 0;
  color: rgb(68, 68, 68);
}

h3 {
  color: rgb(191, 113, 255);
}

input {
  accent-color: rgb(191, 113, 255);
}

label {
  color: rgb(68, 68, 68);
}

#items {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
  /* max-width: 200px; */
  flex-wrap: wrap;
}

#lists {
  display: flex;
  flex-direction: row;
  gap: 10px;
  flex-wrap: wrap;
}

.item {
  display: flex;
  flex-direction: row;
  gap: 2px;
}

.list {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 5px;
}

.edit {
  text-decoration: none;
  color: white;
}

.edit:hover {
  background-color: rgb(191, 113, 255);
}

.form {
  display: flex;

  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.button-list {
  font-family: "Montserrat", sans-serif;
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
  font-size: 16px;
}

.purple {
  background-color: rgb(191, 113, 255);
  color: white;
}

.gray {
  background-color: rgb(233, 233, 233);
  color: rgb(88, 88, 88);
}

.purple:hover {
  background-color: rgb(168, 62, 255);
}

.gray:hover {
  background-color: rgb(211, 211, 211);
}

.button-item {
  color: rgb(88, 88, 88);
  padding: 5px 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
}

.button-item:hover {
  background-color: rgb(233, 233, 233);
}

.btn {
  border: none;
  border-radius: 50%;
  color: white;
  font-size: 14px;
  cursor: pointer;
  background: transparent;
  text-decoration: none;
}

.btn:hover {
  background-color: rgb(233, 233, 233);
}

.btn-edit {
  padding: 0px 4px;
}

.buttons {
  display: flex;
  flex-direction: row;
  gap: 5px;
}

.text-field {
  font-family: "Montserrat", sans-serif;
  padding: 5px;
  border: 1px solid rgb(88, 88, 88);
  border-radius: 5px;
}
