/*
 * This is a manifest file that'll be compiled into application.css.
 *
 * With Propshaft, assets are served efficiently without preprocessing steps. You can still include
 * application-wide styles in this file, but keep in mind that CSS precedence will follow the standard
 * cascading order, meaning styles declared later in the document or manifest will override earlier ones,
 * depending on specificity.
 *
 * Consider organizing styles into separate files for maintainability.
 */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

body {
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  padding: 20px;
  margin-left: 10%;
  margin-right: 10%;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

h1 {
  margin: 0;
}

h3 {
  color: rgb(191, 113, 255);
}

input {
  accent-color: rgb(191, 113, 255);
}

#items {
  margin-bottom: 20px;
}

#lists {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.item {
  display: flex;
  flex-direction: row;
}

/* .list {
  padding: 5px;
  border: 1px solid rgb(88, 88, 88);
  border-radius: 5px;
} */

.button-list {
  background-color: rgb(191, 113, 255);
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
  font-size: 20px;
}

.button-list:hover {
  background-color: rgb(168, 62, 255);
}

.button-item {
  color: rgb(88, 88, 88);
  padding: 5px 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
}

.button-item:hover {
  background-color: rgb(233, 233, 233);
}
